@font-face {
	font-family: PressStart;
	src: url(/static/fonts/PrStart.ttf);
}
* {
	box-sizing: border-box;
	cursor: default;
}
html, body {
	width: 100%; 
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: PressStart, Helvetica;
	font-size: 2vmax;
	color: #fcfcfc;
	overflow: hidden;
}
body { background: #1c1c1c; }
#mainCanvas { 
	position: absolute; top: 0; left: 0;
	background: #1c1c1c;
	z-index: -1;
}
#content, #gameContainer {
	position: absolute; top: 0; left: 0;
	width: 100%;
	height: 100%;
}

/* START SCREEN */
#startScreenContainer { 
	position: absolute;
	width: 50%; height: 80%;
	display: block; 
	top: 0; bottom: 0;
	left: 0; right: 0;
	margin: auto;
}
	#startScreenHeader {
		font-size: 250%;
		margin-bottom: 7%;
		letter-spacing: 9px;
		width: 100%;
		text-align: center;
	}
	#username {
		margin-bottom: 7%;
		font-size: 90%;
		width: 100%;
		text-align: center;
	}
		#usernameText {
			position: relative;
			outline: none;
			cursor: text;
		}
		#usernameChangeButton {
			margin-left: 1.0vmax;
			width: 1.6vmax;
			height: 1.6vmax;
			border: none;
			cursor: pointer;
			opacity: 0.15;
		}
		#usernameChangeButton:hover { opacity: 0.6; }
	.gameButton {
		padding: 2vmax;
		margin-bottom: 7%;
		line-height: 125%;
		width: 100%;
		border: 2px solid #fcfcfc;
		cursor: pointer;
	}
	.gameButton:hover {
		border-color: #59acff;
		color: #59acff;
	}
		#playRandomButton { top: 0; }
		#playFriendButton { bottom: 0; }
	#gameIDInputContainer {
		display: none;
		position: relative;
		width: 100%;
		font-size: 80%;
	}
		#gameIDInput {
			position: absolute;
			top: 0;
			right: 0;
			width: 60%;
			background: #333;
			outline: none;
			font-size: 100%;
		}

/* GAME SCREEN */
#gameContainer { display: none; }
	#countdownText {
		display: none;
		position: absolute;
		font-size: 300%;
		height: 5vh;
		line-height: 5vh;
		width: 100%;
		text-align: center;
		top: 0; bottom: 0;
		left: 0; right: 0;
		margin: auto;
	}
	.scoreText {
		position: absolute;
		top: 2vh;
		font-size: 150%;
	}
	#playerOneScore {
		left: calc(50vw - 2.5em);
	}
	#playerTwoScore {
		right: calc(50vw - 2.5em - 2.5px);
	}
	.nameText {
		position: absolute;
		top: 2.5vh;
		font-size: 70%;
	}
	#playerOneName { left: 4vw; }
	#playerTwoName { right: 4vw; }

/* If in portrait mode, tell the user to switch to landscape. */
/* TODO implement -- not important right now */
#landscapeWarning { display: none; }
/*
@media (orientation:portrait) {
	#landscapeWarning { display: block; }
	#content { display: none; }
}
@media (orientation:landscape) {
	#landscapeWarning { display: none; }
	#content { display: block; }
}
*/

/* CREDIT FOOTERS */
#bottomLeftFooter, #bottomRightFooter {
	position: absolute;
	/* font-family: Helvetica; */
	font-size: 0.6vmax;
	color: #444;
	bottom: 1vmax;
}
#bottomLeftFooter { left: 1vmax; }
#bottomRightFooter { right: 1vmax; }
#bottomRightFooter a:link, #bottomRightFooter a:visited {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}
#bottomRightFooter a:hover, #bottomRightFooter a:active { color: #999; }
